* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.banner {
    display: flex;
    height: 20px;
    background-color: #0b0b31;
    align-items: center;
    font-size: small;
}

header {
    background-color: #f2f3f5;
}

.bannernav {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 40px;
    color: white;
    gap: 5px;
}

.bannernav li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.473);
}

.bannernav li {
    color: rgba(255, 255, 255, 0.473);
}

.bannerright {
    flex: 1;
}

.bannerleft a {
    color: rgba(255, 255, 255, 0.473);
    text-decoration: none;
    margin-left: 30px;
}

.logoname {
    margin-left: 40px;
    margin-top: 20px;

}

.navbar {
    display: flex;
    list-style-type: none;
    gap: 15px;
    justify-content: flex-end;
    margin: 40px;
}

.navbar li a {
    text-decoration: none;
    background-color: #0b0b31;
    border-radius: 5px;
    padding: 10px;
    color: rgb(255, 255, 255);

}

.stockimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navrow {
    display: flex;
    justify-content: space-between;
}

.button {
    width: 20px;
    height: 20px;
    background-color: grey;
    border-radius: 50%;
}

.buttongroup {
    display: flex;
    justify-content: center;
    gap: 2px;
    margin: 10px;

}

.ssscontainer {
    display: flex;
    justify-content: space-evenly;
    text-align: flex-start;
}

.sssitem img {
    margin-left: 20px;
}

.sssitem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    border-top: 2px solid #ccc;
}
.sssitem:not(:last-child){
    border-right: 2px solid #ccc;
}
.sssitem h2{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 50px;
}
.sssitem p {
    color: #5e5656;
    margin: 25px
}
.morebtn {
    background-color: #213349;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 25px;
}
.endbanner{
    background-color: #0f0f61;
    color: white;
    padding: 25px;
}
.soncontainer{
    display: flex;
    background: linear-gradient( to bottom ,rgb(18, 18, 95),#0b0b31);
    width: 100%;
    justify-content: space-evenly;
    color: white;
    
    
}
.sonitem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.sonitem ul {
  list-style: none;
  padding: 20px;
}
.sonitem ul li::before{ 
    content: "⚙️";
    margin-right: 8px;
} 
.sonp{
    width: 500px;
}
.sonitem h3::before{
    content:"🗨️" ;
    margin-right: 8px;
}
.sonitem h2{
    margin-top: 20px
}